HOST=localhost
PORT=3000

PGUSER=developer
PGHOST=localhost
PGPASSWORD=
PGDATABASE=ourmusicapp
PGPORT=5432

# JWT Token
ACCESS_TOKEN_KEY=...
REFRESH_TOKEN_KEY=,,,
ACCESS_TOKEN_AGE=1800

# RabbitMQ / Message Broker
RABBITMQ_SERVER=amqp://localhost
MAILTRAP_API_KEY=...
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=...
SMTP_PASSWORD=...

# AWS
AWS_ACCESS_KEY=,,,
AWS_SECRET_ACCESS_KEY=...
AWS_REGION=us-east-1

# S3
AWS_BUCKET_NAME=*
AWS_BUCKET_URL=https://*.s3.amazonaws.com/

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379